* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body {
    background-color: #c2dfef;
}

header {
    background-color: #0b80c1;
    color: white;
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
}

button {
    padding: 1rem;
    border: 0px;
    border-radius: 0.5rem;
    background-color: #0b80c1;
    color: white;
    cursor: pointer;
}

button.answer {
    padding: 1.5rem;
}

button.answer.correct {
    outline: 3px #30a020 solid;
}

button.answer.incorrect {
    outline: 3px #d02020 solid;
}
nav {
    display: none;
    margin-top: 1rem;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
nav ul li a {
    color: #ffffff;
}
#tableContainer {
    overflow: auto;
    max-width: 100%;
}
table {
    margin-bottom: 1rem;
    border-collapse: collapse;
    min-width: 700px;
    max-width: 1000px;
    display: block;
}
#answerContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#buttonContainer {
    display: flex;
    justify-content: end;
    margin-top: 2rem;
}

#nextQuestion {
    align-self: flex-end;
}

#nextQuestion:disabled {
    background-color: #aaa;
}

#userName {
    padding: 1rem;
    border: 0px;
    border-radius: 0.5rem;
    background-color: #caf1fa;
}

button.answer:nth-child(1) {
    background-color: #ee5656;
}

button.answer:nth-child(2) {
    background-color: #eedf56;
}

button.answer:nth-child(3) {
    background-color: #56ee9c;
}

button.answer:nth-child(4) {
    background-color: #56d3ee;
}

section {
    border-radius: 1rem;
    background-color: white;
    padding: 20px;
    /*box-shadow: ;*/
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section.startQuiz,
section.results {
    align-items: center;
}
.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}
.active {
    text-decoration: underline;
}
#errorSvg {
    display: none;
    width: 25px;
}

#inputNameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
#inputNameForm > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#goHome {
    background-color: #aaaaaa;
}
tr {
    border: 2px solid #aaaaaa;
}
th {
    text-align: start;
    background-color: #aaaaaa;
    padding: 1rem;
}
td {
    padding: 0.8rem;
}
@media (min-width: 600px) {
    #answerContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    button.answer {
        flex: 1 calc(50% - 0.5rem);
    }
}
